
/logs
knownkeys.txt
hei_bookmarks.ini
optionsshaders.txt
/*.log
minecraftinstance.json
/crash-reports
.curseclient
/vintagefix
usernamecache.json
usercache.json
/saves
/optionsof.txt
/options.txt
/mods/memory_repo
/mods/.index
config/jei/worldSettings.cfg
/classOut
/mods/1.12.2
/mods/railcraft
hei_favorites.ini
mputils/settings.dat
servers.dat
/screenshots
/relauncher
/local
/resourcepacks/EclecticTrove-1.12.2-1.0.1.zip
time.history
OpenComputersMod*
/assetmover
/astralsorcery
/betweenlands_gallery
/patchouli_books
/texturepacks
/mineraltracker
/impossible_data
/journeymap
/dumps
/config/spark/data
/config/spark/tmp
/mods/TheBetweenlands-3.9.6-universal.jar
patchouli_data.json
BotaniaVars.dat
/fancymenu_data
/config/spark/tmp-client
/config/BiomeTweaker/output/
/config/AppliedEnergistics2/items.csv
/config/*cache*
/config/probezs.cfg
/shaderpacks/ComplementaryReimagined*/
/config/customloadingscreen_timings.nbt
crafttweaker.log
/config/spash.properties
config/jei/jei.cfg

# File Director-downloaded mods
/mods/thaumicspeedup*
/mods/HadEnoughItems*
/mods/++relauncher*
/mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
/mods/*.disabled-by-mod-director

# Profiling mods
/mods/Caliper*
/mods/LoadingProfiler-MC1.12-1.3.jar
/mods/ProbeZS-1.18.8.jar
/mods/LagGoggles-1.12.2-5.9-140.jar
/mods/TickCentral-3.2.jar
