# Logs
/logs
/*.log
/crash-reports
crafttweaker.log

# Launcher files
minecraftinstance.json
.curseclient
/mods/memory_repo
/mods/.index
/resourcepacks/.index

# Minecraft/Forge files
usernamecache.json
usercache.json
/saves
/screenshots
/texturepacks

# Mods
/vintagefix
/optionsof.txt
hei_favorites.ini
mputils/settings.dat
/relauncher

# Dumps/Caches/Data
time.history
.mixin.out
BotaniaVars.dat
patchouli_data.json
/dumps
/assetmover
/betweenlands_gallery
/fancymenu_data
/astralsorcery
/impossible_data
/config/spark/tmp-client
/config/spark/data
/config/spark/tmp
/config/BiomeTweaker/output/
/config/AppliedEnergistics2/items.csv
/config/*cache*
/config/probezs.cfg
/config/customloadingscreen_timings.nbt
/config/cleanroom_load_timings.dat
/config/cleanroom_mod_list_favourites.txt

hotbar.nbt
# Client stuff
/config/jei/worldSettings.cfg
/config/jei/jei.cfg
/options.txt
/journeymap
/mineraltracker
/local
/visualores
knownkeys.txt
hei_bookmarks.ini
optionsshaders.txt
servers.dat

# Downloaded mods
/mods/1.12.2
/mods/railcraft
OpenComputersMod*
/shaderpacks/ComplementaryReimagined*/
/resourcepacks/EclecticTrove-1.12.2-1.0.1.zip
/mods/TheBetweenlands-3.9.6-universal.jar
## File Director
/mods/HadEnoughItems*
/mods/++relauncher*
/mods/*.disabled-by-mod-director

# Profiling mods
/mods/Caliper*
/mods/LoadingProfiler-MC1.12-1.3.jar
/mods/ProbeZS-1.18.8.jar
/mods/LagGoggles-1.12.2-5.9-140.jar
/mods/TickCentral-3.2.jar
/mods/FTBLib*
/mods/FTBUtilities*
*.nps

/config/ftblib.cfg
/config/ftbutilities.cfg
/config/spark/activity.json
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/splash.properties
/config/ichunutil.cfg
mods/!mod-director-launchwrapper-1.9.1.jar.disabled
