# Configuration file

Biome {
    # Biome identifier. [range: -2147483648 ~ 2147483647, default: 0]
    I:id=0
}


Config {
    # If set to False, parameters from this config will not be used. [default: false]
    B:enabled=false
}


Wind {
    # Defines probability of wind strength and direction change in percentage. [range: 0.0 ~ 100.0, default: 0.02]
    S:changeProbability=0.02

    # Defines how fast the wind changes. [range: 0.0 ~ 1.0, default: 0.15]
    S:changeStep=0.15

    # Defines maximum wind strength. [range: 0 ~ 30, default: 12]
    I:maxStrength=12
}


