# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        Spatio
        Tinctura
        advancedrocketry:itemcircuitplate:1
        advancedrocketry:solararraypanel
        appliedenergistics2:crank
        appliedenergistics2:grindstone
        appliedenergistics2:sky_compass
        bewitchment:silver_ingot
        clothesline:spinner
        embers:alchemic_waste
        firmalife:climate_station_5
        flansmod:clayandsand
        fluid:molten_tar
        ic2:crafting:1
        ic2:wrench
        jaopca:block.hsla_steel
        jaopca:block.potash
        libvulpes:battery
        libvulpes:coalgenerator
        libvulpes:enhancedmotor
        libvulpes:metal0:10
        libvulpes:metal0:4
        libvulpes:metal0:5
        libvulpes:metal0:6
        libvulpes:metal0:9
        libvulpes:ore0:10
        libvulpes:ore0:4
        libvulpes:ore0:5
        libvulpes:ore0:8
        libvulpes:ore0:9
        libvulpes:productdust:1
        libvulpes:productdust:10
        libvulpes:productdust:2
        libvulpes:productdust:3
        libvulpes:productdust:4
        libvulpes:productdust:5
        libvulpes:productdust:6
        libvulpes:productdust:9
        libvulpes:productingot:10
        libvulpes:productingot:4
        libvulpes:productingot:5
        libvulpes:productingot:6
        libvulpes:productingot:9
        libvulpes:productnugget:10
        libvulpes:productnugget:4
        libvulpes:productnugget:5
        libvulpes:productnugget:6
        libvulpes:productnugget:9
        libvulpes:productplate:1
        libvulpes:productplate:10
        libvulpes:productplate:2
        libvulpes:productplate:3
        libvulpes:productplate:4
        libvulpes:productplate:5
        libvulpes:productplate:6
        libvulpes:productplate:9
        libvulpes:productrod:1
        libvulpes:productrod:6
        magneticraft:conveyor_belt
        magneticraft:ingots:6
        matteroverdrive:matter_plasma
        matteroverdrive:quantum_fold_manipulator
        matteroverdrive:tritanium_ore
        mekanism:ingot:2
        mekanism:ingot:4
        minecraft:iron_ingot
        modularmachinery:blockfluidinputhatch:0
        modularmachinery:blockfluidinputhatch:1
        modularmachinery:blockfluidinputhatch:3
        modularmachinery:blockfluidinputhatch:4
        modularmachinery:blockfluidinputhatch:5
        modularmachinery:blockfluidinputhatch:6
        modularmachinery:blockfluidinputhatch:7
        modularmachinery:blockfluidoutputhatch:0
        modularmachinery:blockfluidoutputhatch:1
        modularmachinery:blockfluidoutputhatch:3
        modularmachinery:blockfluidoutputhatch:4
        modularmachinery:blockfluidoutputhatch:5
        modularmachinery:blockfluidoutputhatch:6
        modularmachinery:blockfluidoutputhatch:7
        modularmachinery:blockinputbus:0
        modularmachinery:blockinputbus:1
        modularmachinery:blockinputbus:3
        modularmachinery:blockinputbus:4
        modularmachinery:blockinputbus:5
        modularmachinery:blockinputbus:6
        modularmachinery:blockoutputbus:0
        modularmachinery:blockoutputbus:1
        modularmachinery:blockoutputbus:3
        modularmachinery:blockoutputbus:4
        modularmachinery:blockoutputbus:5
        modularmachinery:blockoutputbus:6
        modularmachinery:itemmodularium
        nyx:meteor_axe
        nyx:meteor_block
        nyx:meteor_boots
        nyx:meteor_bow
        nyx:meteor_chest
        nyx:meteor_hammer
        nyx:meteor_helm
        nyx:meteor_hoe
        nyx:meteor_ingot
        nyx:meteor_pants
        nyx:meteor_pickaxe
        nyx:meteor_shovel
        nyx:meteor_sword
        projectred-core:resource_item:104
        projectred-core:resource_item:105
        projectred-core:resource_item:200
        projectred-core:resource_item:201
        projectred-core:resource_item:202
        projectred-core:resource_item:252
        projectred-core:resource_item:342
        projectred-core:resource_item:400
        projectred-core:resource_item:401
        projectred-core:resource_item:402
        projectred-transmission:wire:34
        tfc:metal/double_ingot/hsla_steel
        tfc:metal/double_sheet/hsla_steel
        tfc:metal/dust/hsla_steel
        tfc:metal/ingot/hsla_steel
        tfc:metal/lamp/hsla_steel
        tfc:metal/nugget/hsla_steel
        tfc:metal/scrap/hsla_steel
        tfc:metal/sheet/hsla_steel
        tfc:metal/trapdoor/hsla_steel
        tfctech:metal/hsla_steel_bolt
        tfctech:metal/hsla_steel_gear
        tfctech:metal/hsla_steel_long_rod
        tfctech:metal/hsla_steel_rackwheel
        tfctech:metal/hsla_steel_rackwheel_piece
        tfctech:metal/hsla_steel_rod
        tfctech:metal/hsla_steel_screw
        tfctech:metal/hsla_steel_strip
        tfctech:metal/hsla_steel_wire
        thaumcraft:crystal_essence:{Aspects:[{amount:1,key:"Tinctura"}]}
        thaumcraft:phial:{Aspects:[{amount:10,key:"Tinctura"}]}
        thaumicwands:item_wand_cap_ta
        thaumicwands:item_wand_rod_ta
        travelersbackpack:backpack_tank
        vs_control:dummy_telegraph
        vs_control:lift_valve
        vs_control:physics_infuser_creative
        vs_control:physics_infuser_dummy
        vs_control:ship_helm_wheel
        waterflasks:iron_flask:agave_wine;m=0
        waterflasks:iron_flask:banana_brandy;m=0
        waterflasks:iron_flask:banana_wine;m=0
        waterflasks:iron_flask:barley_wine;m=0
        waterflasks:iron_flask:base_potash_liquor;m=0
        waterflasks:iron_flask:beer;m=0
        waterflasks:iron_flask:beer_amaranth;m=0
        waterflasks:iron_flask:beer_barley;m=0
        waterflasks:iron_flask:beer_buckwheat;m=0
        waterflasks:iron_flask:beer_corn;m=0
        waterflasks:iron_flask:beer_fonio;m=0
        waterflasks:iron_flask:beer_millet;m=0
        waterflasks:iron_flask:beer_quinoa;m=0
        waterflasks:iron_flask:beer_rye;m=0
        waterflasks:iron_flask:beer_spelt;m=0
        waterflasks:iron_flask:beer_wheat;m=0
        waterflasks:iron_flask:berry_brandy;m=0
        waterflasks:iron_flask:berry_wine;m=0
        waterflasks:iron_flask:black_tea;m=0
        waterflasks:iron_flask:brandy;m=0
        waterflasks:iron_flask:calvados;m=0
        waterflasks:iron_flask:chamomile_tea;m=0
        waterflasks:iron_flask:cherry_brandy;m=0
        waterflasks:iron_flask:cherry_wine;m=0
        waterflasks:iron_flask:cider;m=0
        waterflasks:iron_flask:coconut_milk;m=0
        waterflasks:iron_flask:coffee;m=0
        waterflasks:iron_flask:cognac;m=0
        waterflasks:iron_flask:corn_whiskey;m=0
        waterflasks:iron_flask:dandelion_tea;m=0
        waterflasks:iron_flask:distilled_water;m=0
        waterflasks:iron_flask:firma_cola;m=0
        waterflasks:iron_flask:fresh_water;m=0
        waterflasks:iron_flask:gin;m=0
        waterflasks:iron_flask:goat_milk;m=0
        waterflasks:iron_flask:grappa;m=0
        waterflasks:iron_flask:green_tea;m=0
        waterflasks:iron_flask:honey_water;m=0
        waterflasks:iron_flask:juice_agave;m=0
        waterflasks:iron_flask:juice_apple;m=0
        waterflasks:iron_flask:juice_banana;m=0
        waterflasks:iron_flask:juice_barrel_cactus;m=0
        waterflasks:iron_flask:juice_blackberry;m=0
        waterflasks:iron_flask:juice_blueberry;m=0
        waterflasks:iron_flask:juice_bunch_berry;m=0
        waterflasks:iron_flask:juice_cherry;m=0
        waterflasks:iron_flask:juice_cloud_berry;m=0
        waterflasks:iron_flask:juice_cranberry;m=0
        waterflasks:iron_flask:juice_elderberry;m=0
        waterflasks:iron_flask:juice_gooseberry;m=0
        waterflasks:iron_flask:juice_green_grape;m=0
        waterflasks:iron_flask:juice_juniper;m=0
        waterflasks:iron_flask:juice_lemon;m=0
        waterflasks:iron_flask:juice_orange;m=0
        waterflasks:iron_flask:juice_papaya;m=0
        waterflasks:iron_flask:juice_peach;m=0
        waterflasks:iron_flask:juice_pear;m=0
        waterflasks:iron_flask:juice_plum;m=0
        waterflasks:iron_flask:juice_purple_grape;m=0
        waterflasks:iron_flask:juice_raspberry;m=0
        waterflasks:iron_flask:juice_snow_berry;m=0
        waterflasks:iron_flask:juice_strawberry;m=0
        waterflasks:iron_flask:juice_wintergreen_berry;m=0
        waterflasks:iron_flask:juniper_wine;m=0
        waterflasks:iron_flask:labrador_tea;m=0
        waterflasks:iron_flask:lemon_brandy;m=0
        waterflasks:iron_flask:lemon_wine;m=0
        waterflasks:iron_flask:linseed_oil;m=0
        waterflasks:iron_flask:linseed_water;m=0
        waterflasks:iron_flask:mead;m=0
        waterflasks:iron_flask:milk;m=0
        waterflasks:iron_flask:opium_poppy_seed_oil;m=0
        waterflasks:iron_flask:opium_poppy_seed_water;m=0
        waterflasks:iron_flask:orange_brandy;m=0
        waterflasks:iron_flask:orange_wine;m=0
        waterflasks:iron_flask:papaya_brandy;m=0
        waterflasks:iron_flask:papaya_wine;m=0
        waterflasks:iron_flask:peach_brandy;m=0
        waterflasks:iron_flask:peach_wine;m=0
        waterflasks:iron_flask:pear_brandy;m=0
        waterflasks:iron_flask:pear_wine;m=0
        waterflasks:iron_flask:pina_colada;m=0
        waterflasks:iron_flask:plum_brandy;m=0
        waterflasks:iron_flask:plum_wine;m=0
        waterflasks:iron_flask:rape_seed_oil;m=0
        waterflasks:iron_flask:rape_seed_water;m=0
        waterflasks:iron_flask:red_wine;m=0
        waterflasks:iron_flask:rice_water;m=0
        waterflasks:iron_flask:rum;m=0
        waterflasks:iron_flask:rye_whiskey;m=0
        waterflasks:iron_flask:sake;m=0
        waterflasks:iron_flask:salt_water;m=0
        waterflasks:iron_flask:shochu;m=0
        waterflasks:iron_flask:soy_milk;m=0
        waterflasks:iron_flask:soybean_water;m=0
        waterflasks:iron_flask:sugar_beet_water;m=0
        waterflasks:iron_flask:sugar_water;m=0
        waterflasks:iron_flask:sunflower_seed_oil;m=0
        waterflasks:iron_flask:sunflower_seed_water;m=0
        waterflasks:iron_flask:tequila;m=0
        waterflasks:iron_flask:vodka;m=0
        waterflasks:iron_flask:waste;m=0
        waterflasks:iron_flask:wheat_wine;m=0
        waterflasks:iron_flask:whiskey;m=0
        waterflasks:iron_flask:white_tea;m=0
        waterflasks:iron_flask:white_wine;m=0
        waterflasks:iron_flask:wort;m=0
        waterflasks:iron_flask:yak_milk;m=0
        waterflasks:iron_flask:zebu_milk;m=0
        waterflasks:leather_flask:agave_wine;m=0
        waterflasks:leather_flask:banana_brandy;m=0
        waterflasks:leather_flask:banana_wine;m=0
        waterflasks:leather_flask:barley_wine;m=0
        waterflasks:leather_flask:base_potash_liquor;m=0
        waterflasks:leather_flask:beer;m=0
        waterflasks:leather_flask:beer_amaranth;m=0
        waterflasks:leather_flask:beer_barley;m=0
        waterflasks:leather_flask:beer_buckwheat;m=0
        waterflasks:leather_flask:beer_corn;m=0
        waterflasks:leather_flask:beer_fonio;m=0
        waterflasks:leather_flask:beer_millet;m=0
        waterflasks:leather_flask:beer_quinoa;m=0
        waterflasks:leather_flask:beer_rye;m=0
        waterflasks:leather_flask:beer_spelt;m=0
        waterflasks:leather_flask:beer_wheat;m=0
        waterflasks:leather_flask:berry_brandy;m=0
        waterflasks:leather_flask:berry_wine;m=0
        waterflasks:leather_flask:black_tea;m=0
        waterflasks:leather_flask:brandy;m=0
        waterflasks:leather_flask:calvados;m=0
        waterflasks:leather_flask:chamomile_tea;m=0
        waterflasks:leather_flask:cherry_brandy;m=0
        waterflasks:leather_flask:cherry_wine;m=0
        waterflasks:leather_flask:cider;m=0
        waterflasks:leather_flask:coconut_milk;m=0
        waterflasks:leather_flask:coffee;m=0
        waterflasks:leather_flask:cognac;m=0
        waterflasks:leather_flask:corn_whiskey;m=0
        waterflasks:leather_flask:dandelion_tea;m=0
        waterflasks:leather_flask:distilled_water;m=0
        waterflasks:leather_flask:firma_cola;m=0
        waterflasks:leather_flask:fresh_water;m=0
        waterflasks:leather_flask:gin;m=0
        waterflasks:leather_flask:goat_milk;m=0
        waterflasks:leather_flask:grappa;m=0
        waterflasks:leather_flask:green_tea;m=0
        waterflasks:leather_flask:honey_water;m=0
        waterflasks:leather_flask:juice_agave;m=0
        waterflasks:leather_flask:juice_apple;m=0
        waterflasks:leather_flask:juice_banana;m=0
        waterflasks:leather_flask:juice_barrel_cactus;m=0
        waterflasks:leather_flask:juice_blackberry;m=0
        waterflasks:leather_flask:juice_blueberry;m=0
        waterflasks:leather_flask:juice_bunch_berry;m=0
        waterflasks:leather_flask:juice_cherry;m=0
        waterflasks:leather_flask:juice_cloud_berry;m=0
        waterflasks:leather_flask:juice_cranberry;m=0
        waterflasks:leather_flask:juice_elderberry;m=0
        waterflasks:leather_flask:juice_gooseberry;m=0
        waterflasks:leather_flask:juice_green_grape;m=0
        waterflasks:leather_flask:juice_juniper;m=0
        waterflasks:leather_flask:juice_lemon;m=0
        waterflasks:leather_flask:juice_orange;m=0
        waterflasks:leather_flask:juice_papaya;m=0
        waterflasks:leather_flask:juice_peach;m=0
        waterflasks:leather_flask:juice_pear;m=0
        waterflasks:leather_flask:juice_plum;m=0
        waterflasks:leather_flask:juice_purple_grape;m=0
        waterflasks:leather_flask:juice_raspberry;m=0
        waterflasks:leather_flask:juice_snow_berry;m=0
        waterflasks:leather_flask:juice_strawberry;m=0
        waterflasks:leather_flask:juice_wintergreen_berry;m=0
        waterflasks:leather_flask:juniper_wine;m=0
        waterflasks:leather_flask:labrador_tea;m=0
        waterflasks:leather_flask:lemon_brandy;m=0
        waterflasks:leather_flask:lemon_wine;m=0
        waterflasks:leather_flask:linseed_oil;m=0
        waterflasks:leather_flask:linseed_water;m=0
        waterflasks:leather_flask:mead;m=0
        waterflasks:leather_flask:milk;m=0
        waterflasks:leather_flask:opium_poppy_seed_oil;m=0
        waterflasks:leather_flask:opium_poppy_seed_water;m=0
        waterflasks:leather_flask:orange_brandy;m=0
        waterflasks:leather_flask:orange_wine;m=0
        waterflasks:leather_flask:papaya_brandy;m=0
        waterflasks:leather_flask:papaya_wine;m=0
        waterflasks:leather_flask:peach_brandy;m=0
        waterflasks:leather_flask:peach_wine;m=0
        waterflasks:leather_flask:pear_brandy;m=0
        waterflasks:leather_flask:pear_wine;m=0
        waterflasks:leather_flask:pina_colada;m=0
        waterflasks:leather_flask:plum_brandy;m=0
        waterflasks:leather_flask:plum_wine;m=0
        waterflasks:leather_flask:rape_seed_oil;m=0
        waterflasks:leather_flask:rape_seed_water;m=0
        waterflasks:leather_flask:red_wine;m=0
        waterflasks:leather_flask:rice_water;m=0
        waterflasks:leather_flask:rum;m=0
        waterflasks:leather_flask:rye_whiskey;m=0
        waterflasks:leather_flask:sake;m=0
        waterflasks:leather_flask:salt_water;m=0
        waterflasks:leather_flask:shochu;m=0
        waterflasks:leather_flask:soy_milk;m=0
        waterflasks:leather_flask:soybean_water;m=0
        waterflasks:leather_flask:sugar_beet_water;m=0
        waterflasks:leather_flask:sugar_water;m=0
        waterflasks:leather_flask:sunflower_seed_oil;m=0
        waterflasks:leather_flask:sunflower_seed_water;m=0
        waterflasks:leather_flask:tequila;m=0
        waterflasks:leather_flask:vodka;m=0
        waterflasks:leather_flask:waste;m=0
        waterflasks:leather_flask:wheat_wine;m=0
        waterflasks:leather_flask:whiskey;m=0
        waterflasks:leather_flask:white_tea;m=0
        waterflasks:leather_flask:white_wine;m=0
        waterflasks:leather_flask:wort;m=0
        waterflasks:leather_flask:yak_milk;m=0
        waterflasks:leather_flask:zebu_milk;m=0
     >
}


