# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        waterflasks:iron_flask:berry_brandy;m=0
        waterflasks:iron_flask:peach_brandy;m=0
        waterflasks:iron_flask:beer_corn;m=0
        waterflasks:iron_flask:rape_seed_water;m=0
        rustichromia:extruder
        modularmachinery:blockoutputbus:2
        modularmachinery:blockoutputbus:3
        modularmachinery:blockoutputbus:4
        rustichromia:spear
        modularmachinery:blockoutputbus:5
        tfctech:metal/hsla_steel_screw
        modularmachinery:blockoutputbus:6
        nyx:meteor_pants
        flansmod:clayandsand
        waterflasks:iron_flask:pina_colada;m=0
        waterflasks:leather_flask:zebu_milk;m=0
        waterflasks:leather_flask:peach_wine;m=0
        rustichromia:cotton_seed
        waterflasks:leather_flask:juice_green_grape;m=0
        tfc:ore/kaolinite/basalt
        waterflasks:iron_flask:juice_apple;m=0
        waterflasks:iron_flask:peach_wine;m=0
        projectred-core:resource_item:252
        rustichromia:cotton_candy_stick
        waterflasks:iron_flask:linseed_oil;m=0
        waterflasks:leather_flask:beer_barley;m=0
        modularmachinery:itemmodularium
        waterflasks:leather_flask:juice_peach;m=0
        projectred-core:resource_item:105
        rustichromia:windmill_blade
        rustichromia:cart
        tfc:metal/double_ingot/hsla_steel
        projectred-core:resource_item:104
        waterflasks:iron_flask:juice_banana;m=0
        waterflasks:iron_flask:rape_seed_oil;m=0
        waterflasks:leather_flask:rape_seed_oil;m=0
        advancedrocketry:solararraypanel
        waterflasks:leather_flask:juice_plum;m=0
        projectred-core:resource_item:342
        tfc:ore/kaolinite/dolomite
        waterflasks:iron_flask:juice_orange;m=0
        vs_control:ship_helm_wheel
        tfc:ore/kaolinite/slate
        waterflasks:leather_flask:juice_barrel_cactus;m=0
        waterflasks:leather_flask:orange_brandy;m=0
        rustichromia:gear_wood
        waterflasks:iron_flask:red_wine;m=0
        rustichromia:thatch_block
        waterflasks:leather_flask:green_tea;m=0
        tfctech:metal/hsla_steel_rackwheel
        tfc:ore/kaolinite/claystone
        waterflasks:leather_flask:fresh_water;m=0
        waterflasks:iron_flask:orange_brandy;m=0
        waterflasks:leather_flask:rye_whiskey;m=0
        waterflasks:leather_flask:waste;m=0
        tfctech:metal/hsla_steel_bolt
        tfc:food/olive_paste
        waterflasks:iron_flask:juice_plum;m=0
        waterflasks:iron_flask:juice_elderberry;m=0
        rustichromia:thatch_bed
        libvulpes:enhancedmotor
        vs_control:lift_valve
        modularmachinery:blockfluidoutputhatch:6
        modularmachinery:blockfluidoutputhatch:7
        projectred-core:resource_item:202
        tfc:metal/trapdoor/hsla_steel
        tfc:metal/scrap/hsla_steel
        modularmachinery:blockfluidoutputhatch:0
        modularmachinery:blockfluidoutputhatch:1
        tfctech:metal/hsla_steel_rackwheel_piece
        waterflasks:leather_flask:agave_wine;m=0
        projectred-core:resource_item:200
        modularmachinery:blockfluidoutputhatch:3
        projectred-core:resource_item:201
        modularmachinery:blockfluidoutputhatch:4
        modularmachinery:blockfluidoutputhatch:5
        waterflasks:iron_flask:wheat_wine;m=0
        rustichromia:dust_flour
        waterflasks:iron_flask:corn_whiskey;m=0
        libvulpes:coalgenerator
        waterflasks:leather_flask:cherry_wine;m=0
        nyx:meteor_boots
        tfc:metal/dust/hsla_steel
        waterflasks:iron_flask:sugar_water;m=0
        tfc:ore/kaolinite/andesite
        nyx:meteor_helm
        mekanism:ingot:4
        waterflasks:iron_flask:juice_bunch_berry;m=0
        mekanism:ingot:2
        waterflasks:leather_flask:mead;m=0
        tfc:ore/kaolinite/rhyolite
        tfc:ore/kaolinite/conglomerate
        nyx:meteor_axe
        jaopca:block.hsla_steel
        waterflasks:iron_flask:juice_barrel_cactus;m=0
        waterflasks:leather_flask:wheat_wine;m=0
        waterflasks:leather_flask:lemon_wine;m=0
        waterflasks:leather_flask:pear_brandy;m=0
        waterflasks:iron_flask:zebu_milk;m=0
        waterflasks:iron_flask:juice_blueberry;m=0
        tfc:ore/kaolinite/limestone
        waterflasks:leather_flask:opium_poppy_seed_oil;m=0
        tfctech:metal/hsla_steel_rod
        waterflasks:leather_flask:opium_poppy_seed_water;m=0
        tfc:metal/sheet/hsla_steel
        waterflasks:iron_flask:white_wine;m=0
        waterflasks:leather_flask:corn_whiskey;m=0
        waterflasks:iron_flask:opium_poppy_seed_oil;m=0
        waterflasks:iron_flask:plum_wine;m=0
        rustichromia:hay_compactor
        waterflasks:iron_flask:wort;m=0
        waterflasks:leather_flask:beer_buckwheat;m=0
        rustichromia:dust_wood
        nyx:meteor_shovel
        waterflasks:leather_flask:shochu;m=0
        waterflasks:iron_flask:beer_quinoa;m=0
        waterflasks:leather_flask:juice_cloud_berry;m=0
        waterflasks:iron_flask:green_tea;m=0
        waterflasks:leather_flask:red_wine;m=0
        modularmachinery:blockinputbus:6
        waterflasks:leather_flask:coffee;m=0
        modularmachinery:blockinputbus:5
        modularmachinery:blockinputbus:4
        modularmachinery:blockinputbus:3
        modularmachinery:blockinputbus:2
        libvulpes:productnugget:10
        projectred-core:resource_item:402
        waterflasks:leather_flask:labrador_tea;m=0
        rustichromia:molten_steel
        projectred-core:resource_item:400
        projectred-core:resource_item:401
        waterflasks:iron_flask:rum;m=0
        nyx:meteor_bow
        matteroverdrive:quantum_fold_manipulator
        magneticraft:ingots:6
        waterflasks:leather_flask:papaya_wine;m=0
        waterflasks:leather_flask:black_tea;m=0
        waterflasks:iron_flask:goat_milk;m=0
        waterflasks:iron_flask:banana_brandy;m=0
        waterflasks:iron_flask:barley_wine;m=0
        tfctech:metal/hsla_steel_strip
        waterflasks:iron_flask:calvados;m=0
        waterflasks:iron_flask:juice_snow_berry;m=0
        waterflasks:iron_flask:soy_milk;m=0
        tfc:ore/kaolinite/quartzite
        waterflasks:leather_flask:sugar_water;m=0
        waterflasks:iron_flask:juice_cherry;m=0
        waterflasks:iron_flask:plum_brandy;m=0
        tfc:metal/nugget/hsla_steel
        tfc:ore/kaolinite/gneiss
        libvulpes:productplate:10
        waterflasks:leather_flask:beer;m=0
        waterflasks:leather_flask:lemon_brandy;m=0
        waterflasks:leather_flask:juice_papaya;m=0
        libvulpes:productdust:10
        waterflasks:leather_flask:gin;m=0
        waterflasks:leather_flask:rice_water;m=0
        waterflasks:iron_flask:yak_milk;m=0
        clothesline:spinner
        waterflasks:iron_flask:juice_strawberry;m=0
        waterflasks:iron_flask:shochu;m=0
        libvulpes:battery
        waterflasks:leather_flask:banana_wine;m=0
        waterflasks:leather_flask:beer_quinoa;m=0
        rustichromia:ratiobox
        waterflasks:leather_flask:beer_corn;m=0
        waterflasks:leather_flask:vodka;m=0
        rustichromia:receptacle
        firmalife:climate_station_5
        rustichromia:wheat_chaff
        waterflasks:iron_flask:vodka;m=0
        rustichromia:windvane
        waterflasks:leather_flask:juice_lemon;m=0
        waterflasks:leather_flask:sake;m=0
        waterflasks:leather_flask:tequila;m=0
        waterflasks:iron_flask:juice_blackberry;m=0
        tfc:ore/kaolinite/chalk
        waterflasks:leather_flask:beer_rye;m=0
        thermalexpansion:frame:129
        waterflasks:leather_flask:juice_blackberry;m=0
        waterflasks:leather_flask:juice_purple_grape;m=0
        nyx:meteor_pickaxe
        waterflasks:iron_flask:white_tea;m=0
        minecraft:iron_ingot
        tfc:crop/product/olive_jute_disc
        waterflasks:iron_flask:papaya_wine;m=0
        waterflasks:iron_flask:rice_water;m=0
        waterflasks:leather_flask:cider;m=0
        waterflasks:leather_flask:juice_wintergreen_berry;m=0
        waterflasks:iron_flask:dandelion_tea;m=0
        waterflasks:iron_flask:juice_papaya;m=0
        rustichromia:thatch
        libvulpes:metal0:4
        waterflasks:leather_flask:barley_wine;m=0
        magneticraft:conveyor_belt
        waterflasks:iron_flask:salt_water;m=0
        libvulpes:metal0:9
        waterflasks:iron_flask:firma_cola;m=0
        waterflasks:leather_flask:plum_brandy;m=0
        libvulpes:metal0:6
        libvulpes:metal0:5
        waterflasks:iron_flask:brandy;m=0
        waterflasks:leather_flask:grappa;m=0
        waterflasks:iron_flask:juice_lemon;m=0
        waterflasks:iron_flask:juice_agave;m=0
        waterflasks:iron_flask:juice_cranberry;m=0
        thermalexpansion:frame:146
        thermalexpansion:frame:147
        thermalexpansion:frame:148
        tfc:ore/kaolinite/chert
        signals:teleport_rail
        metalchests:hungry_chest_upgrade
        waterflasks:iron_flask:linseed_water;m=0
        waterflasks:iron_flask:lemon_brandy;m=0
        tfc:metal/lamp/hsla_steel
        thermalexpansion:frame:131
        thermalexpansion:frame:132
        waterflasks:iron_flask:papaya_brandy;m=0
        waterflasks:iron_flask:beer_rye;m=0
        waterflasks:iron_flask:coconut_milk;m=0
        waterflasks:iron_flask:banana_wine;m=0
        waterflasks:leather_flask:milk;m=0
        waterflasks:leather_flask:juice_cranberry;m=0
        nyx:meteor_hammer
        waterflasks:leather_flask:papaya_brandy;m=0
        nyx:meteor_chest
        rustichromia:cotton_wool
        rustichromia:molten_hay
        travelersbackpack:backpack_tank
        waterflasks:leather_flask:linseed_water;m=0
        waterflasks:iron_flask:honey_water;m=0
        thermalexpansion:frame:130
        waterflasks:leather_flask:sunflower_seed_oil;m=0
        waterflasks:leather_flask:juice_blueberry;m=0
        waterflasks:iron_flask:cider;m=0
        nyx:meteor_sword
        waterflasks:iron_flask:rye_whiskey;m=0
        waterflasks:leather_flask:coconut_milk;m=0
        waterflasks:leather_flask:juice_snow_berry;m=0
        waterflasks:leather_flask:dandelion_tea;m=0
        waterflasks:leather_flask:orange_wine;m=0
        waterflasks:iron_flask:beer_buckwheat;m=0
        rustichromia:windmill_big
        modularmachinery:blockfluidinputhatch:1
        modularmachinery:blockfluidinputhatch:4
        modularmachinery:blockfluidinputhatch:3
        modularmachinery:blockfluidinputhatch:6
        embers:spark_plug
        modularmachinery:blockfluidinputhatch:5
        waterflasks:iron_flask:sugar_beet_water;m=0
        modularmachinery:blockfluidinputhatch:7
        waterflasks:leather_flask:yak_milk;m=0
        tfc:ore/kaolinite/diorite
        nyx:meteor_ingot
        waterflasks:iron_flask:cherry_wine;m=0
        waterflasks:leather_flask:berry_wine;m=0
        libvulpes:productplate:9
        bewitchment:silver_ingot
        libvulpes:productplate:6
        thermalfoundation:material:833
        libvulpes:productplate:5
        waterflasks:iron_flask:berry_wine;m=0
        thermalfoundation:material:832
        libvulpes:productplate:4
        libvulpes:productplate:3
        libvulpes:productplate:2
        waterflasks:leather_flask:salt_water;m=0
        libvulpes:productplate:1
        waterflasks:leather_flask:soy_milk;m=0
        waterflasks:leather_flask:cognac;m=0
        waterflasks:iron_flask:mead;m=0
        waterflasks:iron_flask:chamomile_tea;m=0
        waterflasks:leather_flask:juice_agave;m=0
        waterflasks:iron_flask:tequila;m=0
        thaumcraft:crystal_essence:{Aspects:[{amount:1,key:"Tinctura"}]}
        rustichromia:shamshir
        signals:limiter_rail
        libvulpes:productingot:10
        libvulpes:productrod:6
        libvulpes:productrod:1
        waterflasks:leather_flask:soybean_water;m=0
        waterflasks:iron_flask:beer_millet;m=0
        waterflasks:leather_flask:sunflower_seed_water;m=0
        waterflasks:leather_flask:goat_milk;m=0
        waterflasks:iron_flask:black_tea;m=0
        waterflasks:leather_flask:juice_strawberry;m=0
        waterflasks:iron_flask:beer_wheat;m=0
        waterflasks:leather_flask:whiskey;m=0
        waterflasks:iron_flask:sunflower_seed_water;m=0
        thaumcraft:phial:{Aspects:[{amount:10,key:"Tinctura"}]}
        waterflasks:iron_flask:beer_amaranth;m=0
        waterflasks:iron_flask:soybean_water;m=0
        waterflasks:leather_flask:chamomile_tea;m=0
        waterflasks:leather_flask:honey_water;m=0
        rustichromia:block_steel
        libvulpes:productnugget:9
        waterflasks:iron_flask:labrador_tea;m=0
        tfc:metal/double_sheet/hsla_steel
        waterflasks:iron_flask:juniper_wine;m=0
        libvulpes:productdust:3
        libvulpes:productdust:4
        libvulpes:productdust:1
        libvulpes:productdust:2
        waterflasks:iron_flask:juice_cloud_berry;m=0
        libvulpes:productdust:9
        libvulpes:metal0:10
        libvulpes:productdust:5
        libvulpes:productdust:6
        waterflasks:leather_flask:juice_cherry;m=0
        waterflasks:iron_flask:sunflower_seed_oil;m=0
        advancedrocketry:itemcircuitplate:1
        waterflasks:leather_flask:calvados;m=0
        waterflasks:leather_flask:white_tea;m=0
        tfctech:metal/hsla_steel_wire
        matteroverdrive:matter_plasma
        waterflasks:leather_flask:juice_apple;m=0
        tfc:ore/kaolinite/granite
        waterflasks:leather_flask:banana_brandy;m=0
        waterflasks:leather_flask:firma_cola;m=0
        waterflasks:leather_flask:juice_elderberry;m=0
        waterflasks:iron_flask:beer_barley;m=0
        waterflasks:leather_flask:linseed_oil;m=0
        waterflasks:iron_flask:base_potash_liquor;m=0
        rustichromia:gear_speckled
        libvulpes:productingot:9
        tfc:ore/kaolinite
        libvulpes:productingot:6
        libvulpes:productingot:5
        libvulpes:productingot:4
        tfc:ore/kaolinite/shale
        ic2:crafting:1
        thaumicwands:item_wand_cap_ta
        waterflasks:iron_flask:juice_purple_grape;m=0
        tfctech:metal/hsla_steel_long_rod
        waterflasks:leather_flask:pear_wine;m=0
        waterflasks:iron_flask:gin;m=0
        waterflasks:leather_flask:beer_fonio;m=0
        modularmachinery:blockfluidinputhatch:0
        waterflasks:leather_flask:rape_seed_water;m=0
        waterflasks:leather_flask:juniper_wine;m=0
        rustichromia:windmill
        waterflasks:iron_flask:cognac;m=0
        waterflasks:leather_flask:beer_wheat;m=0
        libvulpes:productnugget:6
        libvulpes:productnugget:5
        vs_control:physics_infuser_dummy
        libvulpes:productnugget:4
        tfc:ore/kaolinite/dacite
        waterflasks:iron_flask:whiskey;m=0
        waterflasks:iron_flask:waste;m=0
        waterflasks:iron_flask:juice_pear;m=0
        waterflasks:leather_flask:juice_bunch_berry;m=0
        waterflasks:iron_flask:beer_spelt;m=0
        libvulpes:ore0:10
        matteroverdrive:tritanium_ore
        rustichromia:feeder
        waterflasks:iron_flask:juice_juniper;m=0
        waterflasks:iron_flask:sake;m=0
        tfc:ore/kaolinite/phyllite
        waterflasks:leather_flask:juice_banana;m=0
        fluid:molten_tar
        signals:transport_rail
        waterflasks:leather_flask:juice_pear;m=0
        waterflasks:iron_flask:juice_green_grape;m=0
        projectred-transmission:wire:34
        waterflasks:leather_flask:beer_spelt;m=0
        waterflasks:leather_flask:white_wine;m=0
        jaopca:block.potash
        waterflasks:iron_flask:pear_brandy;m=0
        tfc:metal/ingot/hsla_steel
        waterflasks:leather_flask:pina_colada;m=0
        waterflasks:iron_flask:beer;m=0
        rustichromia:plate_wood
        rustichromia:cart_control
        waterflasks:iron_flask:juice_raspberry;m=0
        thaumicwands:item_wand_rod_ta
        waterflasks:leather_flask:rum;m=0
        waterflasks:iron_flask:milk;m=0
        waterflasks:iron_flask:orange_wine;m=0
        waterflasks:leather_flask:juice_raspberry;m=0
        quark:tallow
        tfc:ore/kaolinite/gabbro
        Spatio
        waterflasks:leather_flask:sugar_beet_water;m=0
        waterflasks:iron_flask:coffee;m=0
        tfc:crop/product/jute_disc
        tfctech:metal/hsla_steel_gear
        waterflasks:leather_flask:beer_amaranth;m=0
        rustichromia:cotton
        nyx:meteor_block
        waterflasks:leather_flask:juice_orange;m=0
        waterflasks:iron_flask:lemon_wine;m=0
        waterflasks:iron_flask:beer_fonio;m=0
        waterflasks:leather_flask:berry_brandy;m=0
        waterflasks:leather_flask:beer_millet;m=0
        waterflasks:iron_flask:distilled_water;m=0
        waterflasks:leather_flask:base_potash_liquor;m=0
        waterflasks:leather_flask:peach_brandy;m=0
        waterflasks:leather_flask:cherry_brandy;m=0
        waterflasks:iron_flask:pear_wine;m=0
        waterflasks:leather_flask:plum_wine;m=0
        waterflasks:leather_flask:wort;m=0
        waterflasks:iron_flask:juice_gooseberry;m=0
        vs_control:physics_infuser_creative
        tfc:ore/kaolinite/marble
        waterflasks:leather_flask:juice_gooseberry;m=0
        tfc:ore/kaolinite/schist
        tfc:ore/kaolinite/rocksalt
        libvulpes:ore0:9
        libvulpes:ore0:8
        waterflasks:iron_flask:juice_peach;m=0
        waterflasks:iron_flask:opium_poppy_seed_water;m=0
        ic2:wrench
        waterflasks:iron_flask:juice_wintergreen_berry;m=0
        Tinctura
        embers:alchemic_waste
        waterflasks:iron_flask:grappa;m=0
        waterflasks:leather_flask:brandy;m=0
        libvulpes:ore0:5
        libvulpes:ore0:4
        vs_control:dummy_telegraph
        waterflasks:iron_flask:fresh_water;m=0
        waterflasks:iron_flask:agave_wine;m=0
        nyx:meteor_hoe
        waterflasks:iron_flask:cherry_brandy;m=0
        rustichromia:blastspear
        waterflasks:leather_flask:juice_juniper;m=0
        waterflasks:leather_flask:distilled_water;m=0
     >
}


