# Configuration file

general {
    # Which essentia are consumed by the recipe. They are progressed in order, looping around on finish
    # The amount of essentia required for the craft is the required RF in Sync's config.
    S:cloneAspectsStrings <
        humanus
     >

    # How much mana the hydrogeanas will generate every 3 ticks (2 if raining)
    I:hydrogenanasPowerMultiplier=3

    # Minimum value of taintEvo gamerule for taint to eat metals and glass.
    # rockTaintificationThreashold must also be respected for this to happen.
    I:metalMinEvo=10000
    D:rockTaintificationThreashold=0.35
}


