# Configuration file

general {
    # How much mana the hydrogeanas will generate every 3 ticks (2 if raining)
    I:hydrogenanasPowerMultiplier=3

    # Minimum value of taintEvo gamerule for taint to eat metals and glass.
    # rockTaintificationThreashold must also be respected for this to happen.
    I:metalMinEvo=100000

    # Due to a bug between Thaumcraft, BASM and CNPCs, the aspect list gets messed up
    # As a fix, this tweaks override Thaumic Speedup's check for overriding the aspect cache
    # That way, the items aren't scanned, and the bug has no effect
    # Disable once when adding new mods, and never have it enabled at the same time as delayItemStackCapabilityInit
    B:regenAspectCache=false
    D:rockTaintificationThreashold=0.2
}


