# Configuration file

general {
    # Adds a search field to the Chisel GUI.
    # Non-matching variants are dimmed and ignored by mouse clicks.
    # Client-side only.
    B:"Enable Chisel GUI Search"=true
}


