# Configuration file

general {
    S:itemAttackClassifications <
        tconstruct:rapier=sword
        tconstruct:broadsword=sword
        tconstruct:longsword=sword
        tconstruct:cleaver=sword
        tetra:sword_modular=sword
        metallurgy:rubracium_gauntlet=fists
     >
    S:itemUseClassifications <
        thaumicaugmentation:gauntlet=bow
        thaumicaugmentation:gauntlet:1=bow
        thaumicperiphery:caster_ember=bow
        thaumcraft:caster_basic=bow
        techguns:guidedmissilelauncher=bow
        thaumicaugmentation:impulse_cannon=bow
     >
    S:keepArmorAsVanilla <
     >
    S:keepEntityAsVanilla <
        minecraft:skeleton
     >
    B:performSpinAttack=true
    B:showArrowTrails=true
    B:showSwordTrail=true
}


