# Configuration file

general {
    # Makes the calendar shut up about errors. This does not fix the errors, only silences them.
    B:calendarShutUp=true

    # Item size strings use a resource location, allowing packmakers to edit them
    # Translation keys are "tfc.capability.weight.[lowercase default name]" and "tfc.capability.size.[lowercase default name]"
    # Defaults are provided.
    B:itemSizeLocalization=true

    # If not empty, the jei category for knapping will only show the provided stone type. Format : "tfc:andesite"
    S:knappingShowOneRockType=tfc:andesite

    # Optimizes TFC's capability gathering algorithm with a more efficient one.
    B:optimizeCapabilities=true

    # Replaces the HashSet used as a visited list with a boolean[], being faster and more memory-efficient.
    B:optimizeLeafDecay=true

    # Replaces the algorithm to place ores in cluster with a more performant one. Pretty invasive mixin.
    B:optimizeOreGen=true
}


