# Configuration file

"general configs" {
    # Allows rendering the ItemStacks aspects in all GUI
    B:aspectTooltipInAllGUI=true

    # The path in which the aspect caches will be written
    S:cachePath=cache/thaumicroid
}


##########################################################################################################
# hwyla configs
#--------------------------------------------------------------------------------------------------------#
# Only the config to disable the handlers are here.
# The other configurations are in the in-game HWYLA config.
##########################################################################################################

"hwyla configs" {
    # Integration for the brain in a jar. Shows xp contents
    B:brainInJar=true

    # Integration for essentia tubes. Shows contents and suction
    B:essentiaTransport=true

    # Integration for goggles display. Only used for the Infusion Matrix's stability
    B:gogglesDisplay=true

    # integration for the vis battery. Shows current and max stored vis
    B:visBattery=true
}


"jei configs" {
    # Hide recipes from JEI if you don't have the research for it
    B:hideRecipesIfMissingResearch=false

    # Items blacklisted from the checking in the Aspect For ItemStack. Format: 'minecraft:stone'
    S:jeiBlacklist <
        minecraft:spawn_egg
     >

    # Should the crafting recipe for Salis Mundus and Triple Meat Treat appear in JEI?
    B:showSpecialRecipes=true

    ##########################################################################################################
    # category toggles
    #--------------------------------------------------------------------------------------------------------#
    # Toggles to unregister any JEI Category
    ##########################################################################################################

    "category toggles" {
        B:"Arcane Workbench"=true
        B:"Aspect Compound"=true
        B:"Aspect from ItemStack"=true
        B:Crucible=true
        B:"Infernal Furnace"=true
        B:"Infusion Crafting"=true
        B:"Salis Mundus"=true
    }

}


"performance configs" {
    # Caches the entity and itemstack aspects on first launch
    # Limits the amount of cached different aspects and the quantity of any aspect to 255
    # This limit does not apply on aspects computed through recipes unless they are computed during launch
    # If you have issue with aspects and you have Thaumic Speedup installed, turn this off or turn on our fasterHash
    B:aspectCache=true

    # Optimizes Thaumcraft's hash for ItemStacks
    # Toggling this option will require you to delete the itemstack cache
    # Note that this option will make ItemStacks aspect matching disregard capabilities
    # This might be more stable than Thaumic Speedup's if the aspect cache is enabled
    # If enabled and Thaumic Speedup is installed, it will overwrite Thaumic Speedup's.
    B:fasterHash=true

    # Optimizes the acquisition of oreDicts ending in a wildcard i.e. ingot*
    B:fasterOreDictWildcard=true

    # Implements FastWorkbench for the pattern crafter
    B:patternCrafterRecipeCache=true
}


"visualores configs" {
    # Whether thaumic dioptra should send aura data to every online player that interacted with it
    # This makes the dioptra auto-update the VisualOres map in a 13x13 chunk square centered on the dioptra
    B:dioptraUpdatesAura=true

    ##########################################################################################################
    # overlay
    #--------------------------------------------------------------------------------------------------------#
    # Replaces the default overlay with a constant purple overlay whose opacity depends on flux
    # The formulas for opacity are separated between the center and the border of chunks ard are min(max_value, floor(fluxAmount * mutliplier))
    ##########################################################################################################

    overlay {
        # The color of the hue, in format 0xRRGGBB converted to decimal because forge configs
        I:color=7280252

        # Allows modification of the overlay
        B:enabled=true

        # Min: 0
        # Max: 255
        I:max_value_border=255

        # Min: 0
        # Max: 255
        I:max_value_center=119
        D:multiplier_border=6.25
        D:multiplier_center=6.150000095367432
    }

}


