# Configuration file

"general configs" {
    # Allows rendering the ItemStacks aspects in all GUI
    B:aspectTooltipInAllGUI=true

    # The path in which the aspect caches will be written
    S:cachePath=cache/thaumicsjw
}


"jei configs" {
    # Hide recipes from JEI if you don't have the research for it
    B:hideRecipesIfMissingResearch=false

    # Items blacklisted from the checking in the Aspect For ItemStack. Format: 'minecraft:stone'
    S:jeiBlacklist <
        minecraft:spawn_egg
     >

    # Should the crafting recipe for Salis Mundis and Triple Meat Treat appear in JEI?
    B:showSpecialRecipes=true

    ##########################################################################################################
    # category toggles
    #--------------------------------------------------------------------------------------------------------#
    # Toggles to unregister any JEI Category
    ##########################################################################################################

    "category toggles" {
        B:"Arcane Workbench"=true
        B:"Aspect Compound"=true
        B:"Aspect from ItemStack"=true
        B:Crucible=true
        B:"Infusion Crafting"=true
    }

}


jeiconfig {
    B:hideRecipesIfMissingResearch=true
    S:jeiBlacklist <
        minecraft:spawn_egg
     >
    B:showSpecialRecipes=true

    "category toggles" {
        B:"Arcane Workbench"=true
        B:"Aspect Compound"=true
        B:"Aspect from ItemStack"=true
        B:Crucible=true
        B:"Infusion Crafting"=true
    }

}


"speedup configs" {
    # Caches the entity and itemstack aspects on first launch
    # Limits the amount of cached different aspects and the quantity of any aspect to 255
    # This limit does not apply on aspects computed through recipes
    B:aspectCache=true

    # Optimizes Thaumcraft's hash for ItemStacks
    # Thaumcraft internally uses this hash to map Aspects to ItemStacks and to handle oredict scanning
    # Toggling this option will require you to delete the itemstack cache and the jei cache
    # Note that this option will make ItemStacks aspect matching disregard capabilities
    B:fasterHash=true

    # Optimizes the acquisition of oreDicts ending in a wildcard i.e. ingot*
    # Shouldn't cause much issue
    B:fasterOreDictWildcard=true

    # Implements FastWorkbench for the pattern crafter
    # Shouldn't cause much issue
    B:patternCrafterRecipeCache=true
}


