# Configuration file

~CONFIG_VERSION: v0.56.6

counters {
    I:lastGridStorage=1929
    I:lastPlayer=1
}


gridstorage {
    S:1723=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1724=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1784=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1793=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1926=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1928=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:255=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:264=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:439=
}


players {
    I:d2380754-f10f-4f8f-9e1b-cbb0e04d4c99=0
}


