# Configuration file

effect_roster {
    B:"Abattoir (Carmot Weapons)"=false
    B:"Acceleration (Quicksilver Armor)"=false
    B:"Adaptability (Haderoth Armor)"=false
    B:"Apex (Haderoth weapons)"=false
    B:"Aquatic (Deep Iron Armor)"=false
    B:"Arcane (Mithril Items)"=false
    B:"Autonomous (Carmot Tools)"=false
    B:"Berserker (Orichalcum Armor)"=false
    B:"Blizzard (Ceruclase Armor)"=false
    B:"Blood Tap (Sanguinite Tools)"=false
    B:"Bounty (Midasium Weapon)"=false
    B:"Brilliance (Damascus Steel Weapons)"=false
    B:"Broken Evasion (Shadow Iron Armor)"=false
    B:"Cathartic Strike (Platinum Weapons)"=false
    B:"Champion (Orichalcum Items)"=false
    B:"Chaos Crit (Shadow Iron Weapons)"=false
    B:"Cloak & Dagger (Hepatizon Armor)"=false
    B:"Cold Snap (Ceruclase Tools)"=false
    B:"Crushing (Oureclase Pickaxe)"=false
    B:"Dazzle (Damascus Steel Pickaxe)"=false
    B:"Deceitful (Sanguinite Items)"=false
    B:"Devour (Sanguinite Weapons)"=false
    B:"Disarm (Hepatizon Weapons)"=false
    B:"Dissolve (Vyroxeres Armor)"=false
    B:"Diver (Deep Iron Tools)"=false
    B:"Diver (Deep Iron Weapons)"=false
    B:"Divine Grace (Amordrine Weapons)"=false
    B:"Eclipse (Shadow Steel Armor)"=false
    B:"End Domestic (Eximite Armor)"=false
    B:"Escalation (Celenegil Tools)"=false
    B:"Ethereal (Etherium Armor)"=false
    B:"Explosion (Vulcanite Armor)"=false
    B:"Extraterrestrial I (Astral Silver Weapon)"=false
    B:"Extraterrestrial II (Astral Silver Tools)"=false
    B:"Fissure (Vulcanite Tools)"=false
    B:"Flak (Krik Weapons)"=false
    B:"Flash Freeze (Ceruclase Weapons)"=false
    B:"Flawless (Platinum Items (except armor))"=false
    B:"Freyr (Prometheum Armor)"=false
    B:"Fuse (Vulcanite Weapons)"=false
    B:"Glory Seeker (Celenegil Weapons)"=false
    B:"Greed (Midasium Tool)"=false
    B:"Gust of Wind (Atlarus Weapons)"=false
    B:"Harmony (Shadow Steel Weapons)"=false
    B:"Harvest (Prometheum Hoe)"=false
    B:"Hot-Blooded (Ignatius Armor)"=false
    B:"Inclusions (Adamantine Items)"=false
    B:"Incompatible (Shadow Iron Pickaxe)"=false
    B:"Krik-Drives (Krik Tools)"=false
    B:"Magic Aspect (Mithril Weapon)"=false
    B:"Magnet (Electrum Weapons)"=false
    B:"Metamorph (Haderoth Items)"=false
    B:"Midas Touch (Midasium Hoe)"=false
    B:"Midas Touch (Midasium hoe)"=false
    B:"Molten Blade (Ignatius Weapons)"=false
    B:"Molten Core (Ignatius Tools)"=false
    B:"Mountain (Black Steel Weapon)"=false
    B:"Multiply (Mithril Pickaxe)"=false
    B:"Necromastery (Sanguinite Armor)"=false
    B:"Nullifier (Desichalkos Weapons)"=false
    B:"Orb (Desichalkos Armor)"=false
    B:"Outworlder (Eximite Weapons)"=false
    B:"Paragon absorb (Tartarite Items)"=false
    B:"Perseverance (Celenegil Armor)"=false
    B:"Photosynthesis (Prometheum Items)"=false
    B:"Power User (Carmot Armor)"=false
    B:"Pulverize (Oureclase Weapons)"=false
    B:"Purification (Platinum Armor)"=false
    B:"Reactive I (Angmallen Weapons)"=false
    B:"Reactive II (Angmallen Armor)"=false
    B:"Reinforcement (Black Steel Armor)"=false
    B:"Restoration (Kalendrite Tools)"=false
    B:"Royal Blood (Damascus Steel Armor)"=false
    B:"Siphon (Etherium Weapons)"=false
    B:"Sky-High (Amordrine Armor)"=false
    B:"Sleight of blade (Quicksilver Weapons)"=false
    B:"Soulbound (Amordrine Items)"=false
    B:"Stampede (Oureclase Armor)"=false
    B:"Starlight (Astral Silver Armor)"=false
    B:"Static (Electrum Armor)"=false
    B:"Symbiosis (Adamantine Armor)"=false
    B:"Tailwind (Quicksilver Tools)"=false
    B:"Time Cleave (Inolashite Weapons)"=false
    B:"Time Leap (Inolashite Tools)"=false
    B:"Titan (Osmium Armor)"=false
    B:"Toxin (Vyroxeres Weapons)"=false
    B:"Tranquil (Kalendrite Armor)"=false
    B:"Transmute (Angmallen Pickaxe)"=false
    B:"Umbral-synthesis (Shadow Steel Items)"=false
    B:"Voltage Control (Electrum Tools)"=false
    B:"Warp (Inolashite Armor)"=false
    B:"Weight-Controlled Flight (Krik Armor)"=false
    B:"Whirlwind (Atlarus Armor)"=false
    B:"Wind Scythe (Atlarus Hoe)"=false
    B:"Wormhole (Desichalkos Tools)"=false
}


effect_tweaks {
    # Chaos Crit damage multiplier is a random number between 1.2 and this value
    # Min: 1.2
    # Max: 50.0
    D:"Chaos Crit Damage Upper Bound"=3.2

    # You can blacklist blocks that players cannot clip through
    S:"Ethereal BlackList" <
        minecraft:bedrock
     >

    # Set to false to disable damage after drinking
    B:"Hot-Blooded Drinking Damage"=true
}


